<div class="panel panel-default">
  <div class="panel-heading"><h1>O mnie...</h1></div>
    <div class="panel-body">
<p>Nazywam się Kamil i tworzę aplikację Obrazkowo</p>
    </div>
  <div class="panel-footer"></div>
</div>